* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  padding-top: 160px;
}

.nav-container {
  width: 100%;
  background-color: white;
  padding: 20px;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  text-align: center;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.logo img {
  height: 80px;
  transition: all 0.3s ease;
}

.nav {
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  text-decoration: none;
  color: #154973;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: #457aa5;
  margin-bottom: 3px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.search-icon {
  display: none;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: #0066cc;
}

.nav-container.scrolled {
  position: fixed;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.nav-container.scrolled .logo {
  margin-bottom: 0;
  margin-right: 20px;
}

.nav-container.scrolled .logo img {
  height: 40px;
}

.nav-container.scrolled .nav {
  flex-grow: 1;
}

.nav-container.scrolled .nav ul {
  justify-content: flex-start;
}

.nav-container.scrolled .search-icon {
  display: block;
}

section {
  /* padding: 20px; */
}

video {
  width: 100%;
  height: auto;
  display: block;
  max-height: 90vh;
  object-fit: cover;
}

.title-main {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-weight: 700;
  background-color: #154973;
  color: #ffff;
  position: relative;
  bottom: 29px;
  padding: 70px 0px 50px 30px;
}

.subtext {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.spacer {
  height: 1500px;
}
